.challengeBoxContainer{
    height:100%;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    text-align: center;
}

.challengeNotActive{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.challengeNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    max-width: 85%;
}

.challengeNotActive p{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.6rem;
    font-size:1rem;
    margin-top: 5rem;
    max-width: 85%;
}

.challengeNotActive img{
    width: 32px;
    height: 43.71px;
    margin-right: 1.5rem;
}

.challengeActive{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.challengeActive header{
    color:var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);

}

.challengeActive main{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.challengeActive main strong{
    font-weight: 600;
    font-size: 2rem ;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p{
    line-height: 1.5;
}

.challengeActive footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challengeActive footer button{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    color:var(--white) ;
    font-size: 1rem;
    font-weight: 600;
    transition: filter 0.2s;

}

.challengeActive footer button:hover{
    filter: brightness(0.9);
}

.challengeActive footer button.failButton{
    background-color: var(--red);
}   

.challengeActive footer button.successButton{
    background-color: var(--green);

}


@media(max-width:800px){
    .challengeBoxContainer {
        padding: 2rem;
        height: 95%;
        margin-bottom: 1rem;
    }

     .challengeNotActive stong{
         max-width: 95%;
         font-size: 0.01rem;
     }

    .challengeNotActive p{
            margin-top: 2rem;
    }

    .challengeActive footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .challengeActive footer button{
        width: 100%;
    }

    .challengeActive main img{
        width:80px;
        margin-top: 2rem;
    }

    .challengeActive main{
        margin-bottom: 1.5rem;
    }
    

}